<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="App-Appender" fileName="${path}/app.log"
                     filePattern="${path}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="32MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="Idle-Appender" fileName="${path}/idle.log"
                     filePattern="${path}/idle-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="32MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <!--
        <RollingFile name="Error-Appender" fileName="${path}/error.log"
                     filePattern="${path}/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="32MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        -->
        <RollingFile name="SpringBoot-Appender" fileName="${path}/spring.log"
                     filePattern="${path}/spring-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="32MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info" additivity="true">
            <AppenderRef ref="SpringBoot-Appender"/>
        </Logger>
        <Logger name="com.pygman.ngback" level="info" additivity="true">
            <AppenderRef ref="App-Appender"/>
        </Logger>
        <Logger name="com.pygman.idle" level="info" additivity="true">
            <AppenderRef ref="Idle-Appender"/>
        </Logger>
        <!--<Logger name="com.pygman.ngback" level="error" additivity="true">-->
        <!--<AppenderRef ref="Error-Appender"/>-->
        <!--</Logger>-->
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>